body {
	background-color: #a1d8ed;
	font-family: Arial;
}

#le {
	color: #8cffe2;
	background: url(stop.gif);
}

#la {
	color: #8cffe2;
	background: url(computers.gif);
}

/*
     FILE ARCHIVED ON 23:55:37 Dec 09, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:09:02 Jun 19, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.617
  captures_list: 1.237
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.061
  esindex: 0.013
  cdx.remote: 402.21
  LoadShardBlock: 454.626 (3)
  PetaboxLoader3.datanode: 134.708 (4)
  PetaboxLoader3.resolve: 379.639 (3)
  load_resource: 165.518
*/