body {
	background-color: #000;
	background: url(cubicle.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffea;
	font-family: monospace;
}

a {
	color: #ffffea;
}

a:hover {
	text-decoration: none;
}

.contact {
	display: inline-block;
}

pre {
	background-color: #ba0404;
}

.lhohq {
	opacity: 0.2;
	filter: alpha(opacity=20);
}

/*
     FILE ARCHIVED ON 23:55:11 Dec 09, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:47:04 Jun 19, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.639
  load_resource: 2033.869 (2)
  PetaboxLoader3.resolve: 1803.643 (2)
  PetaboxLoader3.datanode: 170.134 (3)
  loaddict: 91.179
*/